<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<display-name>br.org.icesamambaia.sit</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>Auditoria</filter-name>
		<filter-class>br.org.icesamambaia.sit.control.Auditoria</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Auditoria</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>br.org.icesamambaia.sit.control.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Membros</servlet-name>
		<servlet-class>br.org.icesamambaia.sit.control.Membros</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Membros</servlet-name>
		<url-pattern>/Membros.do</url-pattern>
	</servlet-mapping>	
</web-app>